*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --color-bg: rgb(224, 234, 224);
    --color-assist: #b8ae78;
    --color-primary: #618352;
    --color-primary-dark: #435c4b;
    --color-nav: #5F714C;
    --color-secondary: #a0c394;
    --color-text: #1e2a1e;
    --radius-lg: 18px;
    --radius-md: 12px;
    --radius-sm: 8px;

    --font-main: 'Noto Serif JP', serif;
    --font-heading: 'Zen Old Mincho', serif;
}

body {
    height: 100vh;
    background: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-main);
}


header {
    background: var(--color-primary-dark);
    color: white;
    padding: 30px 20px;
    font-weight: bold;
}

header h1 {
    text-align: center;
    font-family: var(--font-heading);
}


main {
    padding: 0;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 0 0.5rem;
}



.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    margin-top: 2em;
    padding: 12px;
    font-size: 14px;
    border: 1px solid var(--color-bg);
    border-radius: 6px;
    width: 420px;
}

.addButton {
    margin-top: 2em;
    padding: 6px 12px;
    font-size: 14px;
    background: var(--color-primary);
    color: var(--color-bg);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.addButton:hover {
    background: var(--color-primary-dark)
}

.completed {
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
}

.list {
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    margin-bottom: 10px;
    padding: 10px 12px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


li span {
    flex: 1;
    word-break: break-all;
}


li button {
    background: transparent;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: 14px;
}

li button:hover {
    color: red;
}


.completed {
    opacity: 0.6;
    text-decoration: line-through;
}